<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h1>Sign Up</h1>

        <form>
            <tabel>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password"/></td>
                    </tr>
                </tbody>
            </tabel>

            <input type="submit" value="Sing Up">
        </form>
    </div>
</body>
</html>